background             no

out_to_console         no
out_to_stderr          no
out_to_x               yes

double_buffer          yes
no_buffers             yes
text_buffer_size       2048
total_run_times        0
update_interval        10.0

alignment              tl
gap_x                  10
gap_y                  10
border_inner_margin    0
border_outer_margin    0
border_width           0

maximum_width          400
minimum_size           400 142

own_window             yes
own_window_class       Conky
own_window_hints       undecorated,below,sticky,skip_taskbar,skip_pager
own_window_argb_visual no
own_window_argb_value  255
own_window_transparent yes
own_window_type        override

default_color          e4e4e4
default_outline_color  000000
default_shade_color    222222

draw_borders           no
draw_graph_borders     no
draw_outline           no
draw_shades            no

override_utf8_locale   yes
use_xft                yes
xftalpha               0.8
xftfont                arial:style=Bold:pixelsize=12


TEXT
${color orange}TODO ${hr 2}$color
${execpi 120 todo -d /home/sean/.todo/conky-config ls | fold -w90}
